<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DWX 2018: Microservices mit Azure Service Fabric</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</head>
<body>

    <div class="card" id="header">
        <a href="http://www.bridging-it.de/" class="card-img-top">
            <img src="images/bitlogo.png" />
        </a>
        <h1>Microservices mit Azure Service Fabric: No Slides, Just Code</h1>
        <h5>Tobias Meier, BridgingIT GmbH</h5>
    </div>



    @RenderBody()
    <br />
    <footer class="col-md-12"><h5><a href="https://www.bridging-it.de/content/impressum.html">Impressum</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: <b>tobias.meier@@bridging-it.de</b>&nbsp;&nbsp;&nbsp;&nbsp;Twitter: <b>@@bitTobiasMeier</b>  </h5></footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
